In [13]:
import datetime

In [16]:
import datetime
datetime_object = datetime.datetime.now()
print(datetime_object)

2019-10-01 16:46:20.894372

In [18]:
import os

In [22]:

os.system('touch today1' )

0

In [44]:
import random
list =[]
for x in range(1):
    y= random.randint(1,3)
    list.append(y)
    print(random.randint(1,3))

3

In [45]:
list

[1]

In [46]:
import pandas as pd

In [47]:
df = pd.DataFrame(list, columns = ["test"])

In [48]:
df

   test
0     1

In [49]:
df.to_csv("test.csv")